{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>
    {%- block head %}
    <title>{% block title %}{{title|default}}{% endblock title %}</title>
    <link rel="shortcut icon" href='{{ url_for('icon') }}'>

    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    {%- endblock metas %}

    {%- block styles %}
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    {%- endblock styles %}
    {%- endblock head %}
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}
    {% block navbar %}
    {%- endblock navbar %}
    <div class='container'>
	{% for msg in get_flashed_messages() %}
	<div class='alert alert-dismissable' style='background-color: rgb(150, 150, 150); color: rgb(255, 255, 255)'>
		<button type='button' class='close' data-dismiss='alert'>&times;</button>
		{{ msg }}
	</div>
	{% endfor %}
    </div>
    {% block content -%}
    {%- endblock content %}

    {% block scripts %}
    <script src="{{ url_for('static', filename='bootstrap/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
    {%- endblock scripts %}
    {%- endblock body %}
  </body>
{%- endblock html %}
</html>
{% endblock doc -%}
