{% extends "base.html" %}

{% block title %}Jeefy - {% endblock %}

{% block navbar %}
<h2 style='color: blue'>Easy File server</h2>
{% endblock %}

{% block content %}
<div style='background : rgb(230, 230, 230); font-weight: bold; font-size: 1.1em; line-height: 20px; color: rgb(40, 80, 140)'>
	<p>You can post your file and save it where you open the server</p>
	<p>It's power by flask, python</p>
	<p>You can download the files from the page <a href='{{ url_for('downloadm') }}' 
		style='color: blue; font-size: 1em; text-decoration: none'>Download</a></p>
	<p>If unsupport for js, or the file is to large <a href='{{ url_for('form') }}' style="text-decoration: none; color: rgb(40, 80, 140)">click here to use plain form</span></a></p>
</div>
<div style='font-size: 1.25em; max-width: 40em' id="Outer">
		<input type="file" id="File">
		<button type="button" id="Sub">Upload</button>
</div>
<div id="Sending"></div>
<script>
const outer = document.getElementById("Outer");
let inp = document.getElementById('File');
const o = outer.innerHTML;
const files = new Map();
const sendD = document.getElementById('Sending');


function success(xhr, name) {
	console.log(xhr.readyState);
	if (xhr.readyState == 4 && xhr.status == 200) {
		sendD.removeChild(files[name]);
		files.delete(name)
		let res = JSON.parse(xhr.responseText);
		if (res['upload'] == true) {
			alert('Upload ' + name +  ' Success!');
		} else {
			alert("Failed at " + name + "!");
		}
	};
}
function xhrs(data, name) {
	let xhr;
	if (XMLHttpRequest) {
		xhr = new XMLHttpRequest();
	} else {
		xhr = new ActiveXObject("Microsoft.XMLHTTP");
	}
	xhr.onreadystatechange = () => success(xhr, name);
	xhr.open("POST", "/data", true);
	xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

	let ctx = 'file=' + data + '&name=' + name;
	console.log(name);
	xhr.send(ctx);
	console.log('sending data!');
	let child = document.createElement('p');
	child.innerHTML = "Sending " + name;
	sendD.appendChild(child)
	files[name] = child
	return xhr
}

function upload() {
	console.log('Start Uploading...');
	let file = inp.files[0];

	if (!file) {
		alert('Nothing Submit!')
		return;
	}


	let reader = new FileReader();
	reader.readAsArrayBuffer(file);

	reader.onload = function(e) {
		data = new Uint8Array(e.target.result);
		data = data.toString();
		console.log("Data generated");
		name = file.name;
		outer.innerHTML = outer.innerHTML;
		reset();
		xhrs(data, name);
	}
	alert("Start uploading!");
}
function reset() {
	const submit = document.getElementById("Sub");
	submit.onclick = upload;
	inp = document.getElementById('File');
}
reset();
</script>
{% endblock %}
