{% extends "base.html" %}

{% block title %}Jeefy - {% endblock %}

{% block navbar %}
<h2 style='color: blue'>Easy File server</h2>
{% endblock %}

{% block content %}
<div style='background : rgb(230, 230, 230); font-weight: bold; font-size: 1.1em; line-height: 20px; color: rgb(40, 80, 140)'>
	<p>You can post your file and save it where you open the server</p>
	<p>It's power by flask, python</p>
	<p>You can download the files from the page <a href='{{ url_for('downloadm') }}' 
		style='color: blue; font-size: 1em; text-decoration: none'>Download</a></p>
	<p>If unsupport for js, <span onclick="location.href = '{{ url_for('form') }}'">click here to use plain form</span></p>
</div>
<div style='font-size: 1.25em; max-width: 40em' id="Outer">
		<input type="file" id="File">
		<button type="button" id="Sub">Upload</button>
</div>
<script>
const inp = document.getElementById('File');
const submit = document.getElementById('Sub');
const outer = document.getElementById("Outer");
const o = outer.innerHTML;

function success() {
	console.log(xhr.readyState);
	if (xhr.readyState == 4 && xhr.status == 200) {
		outer.innerHTML = o;
		const submit = document.getElementById('Sub');
		submit.onclick = upload;
		let res = JSON.parse(xhr.responseText);
		if (res['upload'] == true) {
			alert('Upload Success!');
		} else {
			alert("Failed!");
		}
	};
}
function xhrs(data, name) {
	if (XMLHttpRequest) {
		xhr = new XMLHttpRequest();
	} else {
		xhr = new ActiveXObject("Microsoft.XMLHTTP");
	}
	xhr.onreadystatechange = success;
	xhr.open("POST", "/data", true);
	xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

	let ctx = 'file=' + data + '&name=' + name;
	console.log(name);
	xhr.send(ctx);
	console.log('sending data!');
	return xhr
}

function upload() {
	let file = inp.files[0];

	if (!file) {
		alert('Nothing Submit!')
		return;
	}


	let reader = new FileReader();
	reader.readAsArrayBuffer(file);

	reader.onload = function(e) {
		data = new Uint8Array(e.target.result);
		data = data.toString();
		console.log("Data generated");
		name = file.name;
		outer.innerHTML = "<P>Uploading...<p>";
		let ixhr = xhrs(data, name);
	}
	alert("Start uploading!");
}
submit.onclick = upload;
</script>
{% endblock %}
